<div class="jumbotron">
  <h1>Private Events</h1>

  <p>This app lets users create events. The creator can also invite other users to their events. I built this app to reinforce what I learned about associations in Ruby on Rails.</p>
</div>