<% provide(:title, "Events") %>
<p id="notice"><%= notice %></p>

<h1>Upcoming Events</h1>

<% @partial_events=@upcoming %>
<%= render 'shared/event_info' %>

<h1>Past Events</h1>
<% @partial_events=@past %>
<%= render 'shared/event_info' %>

<br>

<%= link_to 'New Event', new_event_path %>
